// colors
$color-1:#fff;
$color-2: #000000;
$color-background:#F5F4FA;
$color-footer:#2F303A;
$color-text: #212121;
$color-text-1: #757575;
$color-brand:#2196F3;
$color-icon: #AFB1B8;

// fonts
$font-main: 'Roboto',sans-serif;
$font-logo: 'Raleway';