.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2196f3;
  text-decoration: none;
}
.logo__onwhite {
  color: #000000;
}
.logo__onblack {
  color: #fff;
}
